<h1>
  Itinerary list
</h1>

<a href="/new_itinerary_form">
  Add a new itinerary
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>Name</th>

    <th>Photo</th>

    <th>
      Description
    </th>

    <th>
      Length
    </th>

    <th>
      Country
    </th>

    <th>
      Region
    </th>

    <th>
      Owner
    </th>

    <th>
      Travel time
    </th>

  </tr>

  <% @itineraries.each do |itinerary| %>
  <tr>
    <td>
      <%= itinerary.id %>
    </td>

    <td>
      <%= itinerary.name %>
    </td>

    <td>
      <img src="<%= itinerary.photo %>">
    </td>

    <td>
      <%= itinerary.description %>
    </td>

    <td>
      <%= itinerary.length %>
    </td>

    <td>
      <%= itinerary.country %>
    </td>

    <td>
      <%= itinerary.region_id %>
    </td>

    <td>
      <%= itinerary.owner_id %>
    </td>

    <td>
      <%= itinerary.travel_time %>
    </td>

    <td>
      <a href="<%= itinerary.url %>" target="_blank">
        View Trip Itinerary
      </a>
    </td>
  </tr>
  <% end %>
</table>

